@layout('layouts.app')

@section('content')
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ post.image }}')">
      <div class="overlay"></div>
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <span class="meta">Đăng bởi
                <a href="#">{{ post.username }}</a>
                ngày {{ post.createdAt.toDateString() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{{ post.content }}}
          </div>
        </div>
      </div>
    </article>

    <hr>
@endsection 
 
